[Desktop Entry]
Version=
Type=Application
Exec=/usr/bin/linuxcnc
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Name=LinuxCNC
Comment=Linuxcnc Machine Controller
StartupNotify=false
Categories=Science;X-CNC;
